*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.priority1 {
    background: rgb(0, 0, 0);
    color: white;
}

.priority2 {
    background: rgb(0, 0, 0, 0.7);
    color: white;
}

.priority3 {
    background: rgb(0, 0, 0, 0.5);
    color: white;
}

.priority4 {
  background: rgb(0, 0, 0, 0.3);
  color: white;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 189px;
  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
  height: 100%;
}
header div{
  height: 100%;
  width: 100%;
}

header nav {
  height: 100%;
  align-items: center;
}
header li {
  width: 150px;
  height: 100%;
  line-height: 189px;
  align-self: center;
}

.section1 {
  position: relative;
}

.section1 h1 {
  position: absolute;
  top: 25px;
  left: 40%;
  width: 343px;
  text-align: center;
}
.color-changer{
  position: absolute;
  top: 25px;
  right: 25px;
  width: 150px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
}

.top-articles div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.top-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.top-articles > div {
  height: 600px;
}
